{% extends "AppCoder/padre.html" %}


{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->

    <h1>Bienvenidos a mi primer pagina Web realizada en Django</h1>
    <a href="https://ibb.co/SfVVp09"><img src="https://i.ibb.co/SfVVp09/foto-cv.jpg" alt="foto-cv" border="0"></a>  
    <p>Mi nombre es Sergio Sale, tengo 31 años y soy de Buenos Aires, Argentina. <p>       
    <p>Hace 8 años me encuentro trabajando en la empresa Trenes Argentinos, donde actualmente me desempeño como analista técnico, trabajando en el mantenimiento de equipos de vía.<p>


{% endblock %}