<div class="box" style="padding: 1em">
<ul>     
<li>admin/</li>     
<li>AppCoder/" "  [name='Inicio']</li> 
<li>AppCoder/tareas [name="Tareas"]</li> 
<li>AppCoder/personal [name="Personal"]</li> 
<li>AppCoder/personal/list [name='PList']</li> 
<li>AppCoder/(r'^(?P<pk>\d+)$', name='PDetail')</li> 
<li>   AppCoder/(r'^nuevo$', name='PNew')</li> 
<li>   AppCoder/(r'^editar/(?P<pk>\d+)$', name='PEdit')</li> 
<li>   AppCoder/(r'^borrar/(?P<pk>\d+)$', name='PDelete')</li> 
<li>AppCoder/equipos [name="Equipos"]</li> 
<li>AppCoder/stock [name="Stock"]</li> 
<li>AppCoder/buscar/?nombre_equipo=" " [name=buscar]</li> 
<li>AppCoder/tarea/list [name='List']  "NO OPERATIVO"</li>
<li>AppCoder/tareas/detalle [name='tDetail]"NO OPERATIVO"</li> 
<li>AppCoder/tareas/nueva [name=[tNew]]"NO OPERATIVO"</li> 
<li>AppCoder/tareas/editar [name='tEdit']"NO OPERATIVO"</li> 
<li>AppCoder/tareas/borrar [name='tDelete']"NO OPERATIVO"</li> 
<li>AppCoder/busquedaPersonal[name='busquedaPersonal]</li> 
<li>AppCoder/login [name="Login"]</li> 
<li>AppCoder/register [name='Register']</li> 
<li>AppCoder/logout [name='Logout']</li> 
<li>AppCoder/about [name="about"]</li> 
<li>AppCoder/ayuda [name="ayuda"]</li> 
<li>AppCoder/index [name="Index"]</li> 
<li>AppCoder/userDetalle [name="UserDetalle]</li> 
<li>AppCoder/agregarAvatar [name="AgregarAvatar"]</li> 
<li>AppCoder/editarPerfil [name="EditarPerfil"]</li>      
</ul>
</div>
<div class="box" style="padding: 1em">
<li><a href="{% url 'Inicio' %}">Volver</a></li>
</div>