{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Bienvenidos a la pagina del taller</h1>
  

    <h3>Podes buscar un equipo:</h3>

    <form action="/AppCoder/buscar/" method="GET">

        <input type="number" name="nombre_equipo" id="nombre_equipo">

        <input type="submit" value="Buscar">




    </form>

    

    {% if tareas %}

    <p>Estamos buscando el: {{nombre_equipo}}</p>

    <ul>
	{% for tarea in tareas %}
		<li> {{tarea.nombre_equipo}} </li>
        <li> {{tarea.tarea}} </li>

	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}