{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->

    <h1>Bienvenidos a la pagina del taller</h1>
    <p>Pagina destinada al mantenimiento de equipos de vía. <p> 
            
    <p>En la misma se puede realizar carga de personal, trabajos, repuestos y equipos. Su funcion es globalizar el mantenimiento y poder visualizar el mismo desde cualquier parte.<p>
            
 


    {% if tareas %}

    <p>Estamos buscando el: {{nombre_equipo}}</p>

    <ul>
	{% for tarea in tareas %}
		<li> {{tarea.nombre_equipo}} </li>
        <li> {{tarea.tarea}} </li>

	{% endfor %}

    </ul>

    {% endif %}

{% endblock %}