{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Formulario - Agregar Tareas</h1>
    <a href="https://publicidadyletreros.cl/prod/262/VTO-005-2.jpg"><img src="https://publicidadyletreros.cl/prod/262/VTO-005-2.jpg" alt="foto-tareas" height="150 px" width="150 px" border="0"></a>  
    <h3>Por favor ingrese los datos solicitados</h3>

    {% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

    {% endif %}
    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit", value="Enviar">

    </form>

{% endblock %}